/* types Selectors in CSS */
/* 1.universal Selectors */
*{
    background: yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
}

    /* *=2.element selector */
    p{
        color: blue;
}
/* 3.class selectors */
.test{
    color: aquamarine;
}
/* 4. id selectors */
#id1{
    color: aquamarine;
}
/* group selectors */
h4,h5,p{
    color: green;
    font-size: 48px;
}
/* attribute selectors */
input[type="text"]{
    border: 5px solid red;
}
/* pseudo selector  */
a:hover{
    color: red;
    background-color: greenyellow;
}